.aboutContainer {
    background-color: #000;
    color: white;
    min-height: 100vh;



    .aboutText {
        padding-top: 100px;
        padding-left: 150px;

        h1 {
            font-family: 'Poppins', sans-serif;

        }

        p {
            font-size: 21px;
        }

        .location {
            font-size: 33px;
            font-weight: 600;


        }
    }

    .aboutIcons {
        margin-top: 8rem;
        display: flex;

        gap: 100px;

        justify-content: center;

        a {


            svg {
                font-size: 80px;
                color: white;
            }
        }
    }

}