.topBar {
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.5s all ease;
    background-color: black;
    color: white;



    .topBarContainer {

        background-color: black;
        position: sticky;
        color: white;
        top: 0;
        z-index: 999;
        transition: 0.5s all ease;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .topBarTitle {
            color: #7f59ee;
            font-family: 'Alfa Slab One', cursive;
            font-size: 2.8rem;
        }

        .topBarItems {

            display: flex;
            gap: 100px;
            list-style-type: none;
            align-items: center;
            justify-content: center;
            font-family: 'Alfa Slab One', cursive;


            li {





                a {
                    text-decoration: none;
                    color: white;
                    font-weight: 600;
                    transition: all 0.3s ease-in-out;
                    font-size: 1.8rem;
                    font-family: 'Courier New', Courier, monospace;

                    &:hover {
                        color: gray;
                    }
                }
            }

            .cart {
                vertical-align: top;


            }


        }


    }

}