.cart {

    .cartContainer {
        background-color: #8BC6EC;
        background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
        position: relative;
        min-height: 80vh;
        max-height: max-content;
        padding: 60px 350px;


        display: flex;
        flex-direction: column;
        align-items: center;

        .cartHeader {

            h2 {
                font-size: 50px;
                font-weight: 600;
                font-family: 'Work Sans', sans-serif;
                color: black;
                padding-bottom: 50px;
            }
        }

        .cartItems {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 120px;

            .cartItem {


                .cartImg {
                    img {
                        width: 350px;
                        height: 450px;
                    }

                }

                .cartItemInfo {
                    padding-top: 10px;
                    padding-left: 20px;
                    line-height: 1.2;


                    .cartQuantity {
                        padding-top: 20px;
                        display: flex;

                        text-align: center;

                        button,
                        span {
                            width: 40px;
                            font-size: large;
                            border: 2px solid black;
                        }
                    }

                    .deleteBtn {
                        margin-top: 10px;

                        cursor: pointer;
                    }
                }


            }
        }

        .line {

            width: 98vw;
            margin: 20px 0;
        }

        .cardTotal {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}