.cardContainer {
    padding: 50px 150px;


    background-color: #000;

    color: white;

    .cardImg {
        img {
            height: 450px;
            width: 400px;
        }
    }

    .cardTitle {
        line-height: 0.5;

        h2 {
            font-size: 25px;
            font-weight: 600;
            font-family: 'Work Sans', sans-serif;

        }

        span {
            font-size: 19px;
            font-weight: 600;
            font-family: 'Work Sans', sans-serif;
            color: rgb(221, 218, 218);

        }
    }

    .cardPrice {
        padding-top: 25px;

        p {

            // font-family: 'Major Mono Display', monospace;
            // font-weight: 600;
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
        }
    }
}