.mainPage {
    height: 100vh;

    background: url('https://images.pexels.com/photos/2067569/pexels-photo-2067569.jpeg?auto=compress&cs=tinysrgb&w=1600');



    background-size: cover;

    .mainContainer {
        display: flex;
        justify-content: space-around;
        padding-top: 80px;


        .leftContent {
            h3 {
                font-weight: 700;
                color: rgb(123, 123, 123);

                font-family: 'Poppins', sans-serif;

            }

            p {
                font-size: 36px;
            }

        }

        .rightContent {
            padding-top: 70px;

            button {

                text-decoration: none;
                padding: 20px 50px;
                font-size: 24px;
                border-radius: 50px;
                background-color: black;
                color: white;
                cursor: pointer;
                -moz-osx-font-smoothing: grayscale;
                backface-visibility: hidden;
                transform: translateZ(0);
                transition: transform .15s ease-in-out;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                backdrop-filter: blur(4px);

                /* add backdrop-filter */
                &:hover,
                &:focus {
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                    transform: scale(1.1);
                }
            }
        }
    }
}